import java.util.Scanner;
class ••_♥
{
public static void main (string args[])
{
Scanner sc= new Scanner(System.in);
String s= sc.next();
s = s.toUpperCase();
if(s.equals("UNNATIGUPTA")||s.equals("UNNATI"))
{
System.out.println(" hyy ••_♥ tum toh janti ho ki me tumne pasand karta hu,mujhe tum bas itna bata do ki tum bhi mujhe pasand karti ho ki nhi (ha ya na ) please answer jarur dena ");
}
else
{
System.out.println(" you are not a right person ");
}
}
}
